@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s;
}

html,
body {
    font-family: 'Poppins', arial;
    background-color: #0d0644;
    overflow-x: hidden;
    position: relative;
    min-height: 300vh;
}

h1 {
    font-family: 'Exo', arial;
}

.blur-1 {
    position: absolute;
    width: 267px;
    height: 267px;
    left: -153px;
    top: -210px;
    background: linear-gradient(162deg, rgba(251, 71, 255, 1) 0%, rgba(86, 71, 255, 1) 73%, rgba(27, 162, 205, 1) 100%);
    filter: blur(250px);
    z-index: 1;
}

.nav {
    margin: 40px;
    position: relative;
    display: flex;
    z-index: 99;
}

/* Brand */
.brand {
    display: flex;
    color: white;
    font-family: 'Exo', arial;
}

.brand span i {
    font-size: 40px;
}

.brand h3 {
    font-size: 26px;
    margin-left: 13px;
}

.brand h3 span {
    background: -webkit-linear-gradient(70deg, rgba(251, 71, 255, 1), rgb(135, 71, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

/* Link */
.link {
    margin-top: 10px;
    margin-left: auto;
}

.link a {
    text-decoration: none;
    margin-right: 30px;
    color: rgb(172, 157, 199);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 30px;
}

.link a:hover {
    background: #16085c88;
    color: white;
}

/* Toggle */
.toggle {
    display: none;
}



/* Team */
.team {
    margin: 100px 100px;
    position: relative;
    z-index: 77;
}

.team h1 {
    text-align: center;
    color: #fff;
    font-family: 'Exo', arial;
    font-size: 56px;
    margin-bottom: 20px;
}



.team .flex {
    display: block;
}

.team .flex .card {
    margin-top: 140px;
    display: flex;
}

.team .flex .card img {
    width: 360px;
    margin: 50px 20px;
    margin: 0 auto;
}

/* Text card */
.team .flex .text-card {
    margin: 60px 40px 40px 0;
}

.team .flex .text-card h3 {
    color: white;
    font-size: 34px;
    font-family: 'Exo', arial;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.team .flex .text-card h3 span {
    background: -webkit-linear-gradient(70deg, rgba(251, 71, 255, 1), rgb(135, 71, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.team .flex .text-card p {
    color: #d3c3da;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: justify;
    padding: 0 80px;
}


/* Sekolah */
.sekolah {
    margin: 260px 0 400px;
    position: relative;
    z-index: 77;
    display: block;
}

.sekolah h1 {
    text-align: center;
    color: #fff;
    font-family: 'Exo', arial;
    font-size: 56px;
    margin-bottom: 60px;
}

.sekolah img {
    margin: 20px auto;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    background-position: center;
    display: block;
    filter: blur(0.3px) brightness(0.5) grayscale(0.05);
}

.sekolah h2 {
    font-size: 42px;
    color: #fff;
    font-family: 'Exo', arial;
    margin: 120px 60px 40px;
    text-align: center;
    letter-spacing: 3px;
}

.sekolah h3 {
    font-size: 32px;
    color: #fff;
    font-family: 'Exo', arial;
    margin: 80px 60px 20px;
    text-align: center;
    letter-spacing: 3px;
}

.sekolah p {
    margin: 40px 200px;
    color: #e4dae9;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: justify;
    font-size: 16px;
}

/* Kembali Button */
.kembali {
    position: relative;
    margin: 0 auto;
}

.kembali button {
    margin: 60px auto;
    display: block;
    position: relative;
    border: none;
    transition: .8s;
    padding: 20px 40px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(-162deg, rgba(251, 71, 255), rgba(86, 71, 255), rgb(27, 60, 205));
    color: #ffffff;
    box-shadow: 0px 3px 14px 0px rgba(143, 81, 202, 0.66);
    -webkit-box-shadow: 0px 3px 14px 0px rgba(143, 81, 202, 0.66);
    -moz-box-shadow: 0px 3px 14px 0px rgba(143, 81, 202, 0.66);
}

.kembali button:hover {
    transform: scale(1.2);
}

.kembali a {
    text-decoration: none;
}

/* Blur */
.blur-2 {
    position: absolute;
    width: 367px;
    height: 367px;
    left: 1043px;
    top: 210px;
    background: rgb(27, 113, 205, 0.2);
    filter: blur(350px);
    z-index: 1;
}


.blur-3 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 23px;
    top: 360px;
    background: rgba(252, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-4 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 1243px;
    top: 460px;
    background: rgba(252, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-5 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 343px;
    top: 1010px;
    background: rgba(86, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}


.blur-6 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 1223px;
    top: 1670px;
    background: rgba(86, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-7 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: -23px;
    top: 1670px;
    background: rgba(86, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-8 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 1113px;
    top: 3110px;
    background: rgba(86, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-9 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 13px;
    top: 3310px;
    background: rgba(252, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-10 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 1113px;
    top: 3710px;
    background: rgba(86, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-11 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 13px;
    top: 3910px;
    background: rgba(252, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-12 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 1113px;
    top: 4610px;
    background: rgba(86, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-13 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 13px;
    top: 4410px;
    background: rgba(252, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-14 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 1113px;
    top: 5410px;
    filter: blur(350px);
    z-index: 1;
    background: rgba(252, 71, 255, 0.2);
}

.blur-15 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 13px;
    top: 5610px;
    background: rgba(86, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

footer {
    z-index: 77;
    background-color: #15135a;
    padding: 120px 80px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 17px 11px;
    grid-template-areas:
        ". . . .";
}

footer .brand {
    color: white;
    display: flex;
}

footer .brand i {
    font-size: 38px;
}

footer .brand h3 {
    font-size: 36px;
    margin-left: 10px;
}

footer .brand span {
    background: -webkit-linear-gradient(70deg, rgba(251, 71, 255, 1), rgb(135, 71, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
}

footer h3 {
    font-family: 'Exo', arial;
    color: white;
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 600;
}

footer p {
    color: #d3c3da;
    margin-bottom: 20px;
}

footer i {
    color: #d3c3da;
    margin-left: 10px;
    font-size: 36px;
}

@media only screen and (max-width: 768px) {
    .nav .link a {
        font-size: 12px;
        margin-right: 0;
    }

    .team {
        margin: 20px 40px;
    }

    .team h1 {
        margin-top: 80px;
        font-size: 36px;
    }

    .team .flex {
        display: block;
    }

    .team .flex .card {
        margin-top: 50px;
    }

    .team .flex .card img {
        width: 180px;
        margin-top: 60px;
    }

    .team .flex .text-card {
        margin: 20px auto;
    }

    .team .flex .text-card h3 {
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
    }

    .team .flex .text-card h3 span {
        font-size: 26px;
    }

    .team .flex .text-card p {
        font-size: 11px;
        line-height: 25px;
    }


    /* Sekolah */
    .sekolah h1 {
        font-size: 36px;
    }

    .sekolah h2 {
        margin: 40px;
        font-size: 24px;
    }

    .sekolah h3 {
        margin: 30px 0 10px;
        font-size: 18px;
        padding: 0 40px;
    }

    .sekolah p {
        font-size: 12px;
        margin: 10px 40px 40px;
        line-height: 28px;
        letter-spacing: 1.3px;
    }

    /* Kembali ke halaman utama */
    .kembali button {
        padding: 15px 25px;
        margin: 60px auto;
    }

    /* Footer */
    footer {
        padding: 60px 20px;
        display: block;
    }

    footer div {
        margin-bottom: 35px;
    }

    footer i {
        font-size: 23px;
    }

    footer .brand h3 {
        font-size: 20px;
    }

    footer .brand span {
        font-size: 18px;
    }

    footer h3 {
        font-size: 18px;
    }

    footer p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {

    .nav {
        display: flex;
        justify-content: unset;
        margin: 40px;
    }

    .nav .brand i {
        font-size: 16px;
        margin-top: 5px;
    }

    .nav .brand h3 {
        font-size: 20px;
        margin-left: 5px;
    }

    .nav .brand h3 span {
        font-size: 15px;
    }

    .nav .link,
    .nav .hidden {
        display: none;
    }


    .toggle {
        display: inline;
        position: absolute;
        z-index: 9999;
    }

    .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: white;
        text-decoration: none;
    }

    .menuItem:hover {
        text-decoration: underline;
    }

    .hamburger {
        position: absolute;
        z-index: 100;
        left: 260px;
        padding: 4px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
    }

    .closeIcon {
        display: none;
        font-size: 20px;
        color: white;
        z-index: 9999;
    }

    .menuIcon {
        color: white;
        font-size: 20px;
    }

    .menu {
        position: fixed;
        transform: translateY(-100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: rgba(16, 18, 126, 0.802);
        list-style: none;
        padding-top: 4rem;
    }

    .showMenu {
        transform: translateY(0);
    }


    .team {
        margin: 20px 40px;
    }

    .team h1 {
        margin-top: 80px;
        font-size: 36px;
    }

    .team .flex {
        display: block;
    }

    .team .flex .card {
        margin-top: 50px;
    }

    .team .flex .card img {
        width: 180px;
        margin-top: 60px;
    }

    .team .flex .text-card {
        margin: 20px auto;
    }

    .team .flex .text-card h3 {
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
    }

    .team .flex .text-card h3 span {
        font-size: 26px;
    }

    .team .flex .text-card p {
        font-size: 11px;
        line-height: 25px;
    }


    /* Sekolah */
    .sekolah h1 {
        font-size: 36px;
    }

    .sekolah h2 {
        margin: 40px;
        font-size: 24px;
    }

    .sekolah h3 {
        margin: 30px 0 10px;
        font-size: 18px;
        padding: 0 40px;
    }

    .sekolah p {
        font-size: 12px;
        margin: 10px 40px 40px;
        line-height: 28px;
        letter-spacing: 1.3px;
    }

    /* Kembali ke halaman utama */
    .kembali button {
        padding: 15px 25px;
        margin: 60px auto;
    }

    /* Footer */
    footer {
        padding: 60px 20px;
        display: block;
    }

    footer div {
        margin-bottom: 35px;
    }

    footer i {
        font-size: 23px;
    }

    footer .brand h3 {
        font-size: 20px;
    }

    footer .brand span {
        font-size: 18px;
    }

    footer h3 {
        font-size: 18px;
    }

    footer p {
        font-size: 12px;
    }
}