@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s;
}

html,
body {
    font-family: 'Poppins', arial;
    background-color: #0d0644;
    overflow-x: hidden;
    position: relative;
}

h1 {
    font-family: 'Exo', arial;
}

.blur-1 {
    position: absolute;
    width: 267px;
    height: 267px;
    left: -153px;
    top: -210px;
    background: linear-gradient(162deg, rgba(251, 71, 255, 1) 0%, rgba(86, 71, 255, 1) 73%, rgba(27, 162, 205, 1) 100%);
    filter: blur(350px);
    z-index: 1;
}

.nav {
    margin: 40px 100px;
    position: relative;
    display: flex;
    z-index: 99;
}

/* Brand */
.nav .brand {
    display: flex;
    color: white;
    font-family: 'Exo', arial;
}

.nav .brand i {
    font-size: 40px;
}

.nav .brand h3 {
    font-size: 26px;
    margin-left: 13px;
}

.nav .brand h3 span {
    background: -webkit-linear-gradient(70deg, rgba(251, 71, 255, 1), rgb(135, 71, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
}

/* Link */
.link {
    margin-top: 10px;
    margin-left: auto;
}

.link a {
    text-decoration: none;
    margin-right: 10px;
    color: rgb(172, 157, 199);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 30px;
}

.link a:hover {
    background: #1f0e6988;
    color: white;
}



.toggle {
    display: none;
}


/* Container */
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 110px 100px;
    z-index: 99;
}

.container .text-box {
    max-width: 800px;
    position: relative;
}

.container .text-box h1 {
    margin-top: 70px;
    font-weight: 600;
    font-size: 71px;
    color: white;
    line-height: 70px;
}

.container .text-box h1 span {
    background: -webkit-linear-gradient(162deg, rgba(251, 71, 255, 1) 0%, rgb(137, 87, 231) 85%, rgb(81, 55, 228) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .text-box p {
    color: #a499a8;
    letter-spacing: 2px;
    line-height: 30px;
    margin-top: 20px;
}

.container .text-box button {
    border: none;
    transition: .8s;
    margin-top: 40px;
    padding: 20px 40px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(-162deg, rgba(251, 71, 255), rgba(86, 71, 255), rgb(27, 113, 205));
    color: #ffffff;
    box-shadow: 0px 3px 14px 0px rgba(143, 81, 202, 0.66);
    -webkit-box-shadow: 0px 3px 14px 0px rgba(143, 81, 202, 0.66);
    -moz-box-shadow: 0px 3px 14px 0px rgba(143, 81, 202, 0.66);
}

.container .text-box button:hover {
    background: linear-gradient(-162deg, rgba(251, 71, 255), rgba(86, 71, 255), rgb(27, 113, 205));
    box-shadow: 0px 3px 19px 0px rgba(116, 57, 172, 0.88);
    -webkit-box-shadow: 0px 3px 19px 0px rgba(143, 81, 202, 0.88);
    -moz-box-shadow: 0px 3px 19px 0px rgba(143, 81, 202, 0.88);
    transform: scale(1.2);
}

.container .text-box a {
    margin-left: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #9c86a8;
    font-size: 11px;
    text-decoration: underline;
}

.container .text-box a:hover {
    color: #fff;
}

.container .text-box a:hover i {
    color: #fff;
}

.container .text-box i {
    color: #9c86a8;
    margin: 10px;
}

/* Image box */
.img-box img {
    width: 600px;
    margin-left: 80px;
    position: relative;
    z-index: 99;
}

.blur-2 {
    position: absolute;
    width: 267px;
    height: 267px;
    left: 853px;
    top: 210px;
    background: linear-gradient(162deg, rgba(252, 71, 255, 0.836) 0%, rgba(86, 71, 255, 0.815) 73%, rgba(27, 163, 205, 0.61) 100%);
    filter: blur(350px);
    z-index: 1;
}


/* About */
.about {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 260px 100px;
    z-index: 999;
}

.about h1 {
    left: 560px;
    max-width: 800px;
    position: absolute;
    margin-top: 160px;
    font-weight: 600;
    font-size: 52px;
    color: white;
    line-height: 70px;
    font-family: 'Exo', arial;
    z-index: 999;
}

.about h1 span {
    background: -webkit-linear-gradient(45deg, rgba(251, 71, 255, 1) 0%, rgba(86, 71, 255, 1) 73%, rgb(27, 89, 205) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about p {
    margin-top: 340px;
    color: #d3c3da;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 32px;
    font-size: 15px;
}

.about a {
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 580px;
    position: absolute;
    left: 690px;
    color: #d3c3da;
    letter-spacing: 4px;
}

.about a:hover {
    color: white;
}

.about i {
    margin: 10px;
}

.about img {
    z-index: 999;
}


/* Manfaat */
.manfaat {
    position: relative;
    display: block;
    z-index: 999;
}

.manfaat div {
    margin: 140px 100px;
}

.manfaat h1 {
    position: relative;
    margin-top: 20px;
    font-weight: 600;
    font-size: 52px;
    color: white;
    line-height: 70px;
    font-family: 'Exo', arial;
    z-index: 999;
}

.manfaat h1 span {
    background: -webkit-linear-gradient(45deg, rgba(251, 71, 255, 1) 0%, rgba(86, 71, 255, 1) 73%, rgb(27, 98, 205) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.manfaat p {
    margin-top: 30px;
    color: #d3c3da;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 33px;
    font-size: 14px;
}

.vr-img {
    background: url(/img/manfaat.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    object-fit: cover;
    width: 100%;
    z-index: 999;
    margin: 60px auto;
}


/* Blur */

.blur-3 {
    position: absolute;
    width: 367px;
    height: 367px;
    left: 1203px;
    top: 1010px;
    filter: blur(350px);
    z-index: 1;
    background: rgba(252, 71, 255, 0.3);

}

.blur-4 {
    position: absolute;
    width: 367px;
    height: 367px;
    left: 203px;
    top: 1010px;
    background: linear-gradient(162deg, rgba(252, 71, 255, 0.713) 0%, rgba(86, 71, 255, 0.74) 73%, rgba(27, 163, 205, 0.705) 100%);
    filter: blur(350px);
    z-index: 1;
}

/* Education */
.education {
    position: relative;
    margin: 340px 100px;
    z-index: 999;
    display: block;
}

.education h1 {
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
    font-size: 56px;
    color: white;
    font-family: 'Exo', arial;
    z-index: 999;
}

.education h1 span {
    background: -webkit-linear-gradient(70deg, rgba(251, 71, 255, 1), rgb(135, 71, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.education .flex {
    display: flex;
    margin-top: 20px;
}

.education .flex img {
    width: 580px;
    top: -140px;
    object-fit: cover;
}

.education .flex p {
    color: #d3c3da;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 120px 60px 40px;
    text-align: justify;
    font-size: 15px;
}

/* How It feature */
.feature {
    margin: 260px 40px;
    position: relative;
    z-index: 999;
}

.feature h1 {
    color: white;
    font-size: 56px;
    text-align: center;
    margin-top: 240px;
    margin-bottom: 60px;
}

.feature h1 span {
    background: -webkit-linear-gradient(70deg, rgba(251, 71, 255, 1), rgb(135, 71, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature .grid-3 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 11px 11px;
    grid-template-areas:
        ". ."
        ". ."
        ". .";
    background: transparent;
}

.feature .grid-3 .card {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* background-color: #b4bad11c; */
    padding: 100px 40px;
    margin: 10px 5px;
    display: block;
    color: white;
    /* backdrop-filter: blur(15px); */
}

.feature .grid-3 .card h2 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Exo', arial;
}

.feature .grid-3 .card h4 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: 'Exo', arial;
    letter-spacing: 1.5px;
}

.feature .grid-3 .card p {
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #d3c3da;
    text-align: justify;
    padding-right: 10px;
}


.blur-5 {
    position: absolute;
    width: 367px;
    height: 367px;
    left: 1043px;
    top: 2210px;
    background: rgb(27, 113, 205, 0.5);
    filter: blur(350px);
    z-index: 1;
}


.blur-5a {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 23px;
    top: 1960px;
    background: rgba(252, 71, 255, 0.25);
    filter: blur(350px);
    z-index: 1;
}

.blur-6 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 843px;
    top: 2960px;
    background: rgba(252, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-7 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 343px;
    top: 2810px;
    background: rgba(86, 71, 255, 0.349);
    filter: blur(350px);
    z-index: 1;
}


.blur-8 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 223px;
    top: 3310px;
    background: rgba(86, 71, 255, 0.349);
    filter: blur(350px);
    z-index: 1;
}

.blur-9 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 1163px;
    top: 3910px;
    background: rgba(86, 71, 255, 0.349);
    filter: blur(350px);
    z-index: 1;
}

.blur-10 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: -13px;
    top: 4110px;
    background: rgba(86, 71, 255, 0.349);
    filter: blur(350px);
    z-index: 1;
}

.blur-11 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 813px;
    top: 4710px;
    background: rgba(252, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-12 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: -13px;
    top: 5010px;
    background: rgba(86, 71, 255, 0.349);
    filter: blur(350px);
    z-index: 1;
}

.blur-13 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 813px;
    top: 5310px;
    background: rgba(252, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-14 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: -13px;
    top: 5500px;
    background: rgba(86, 71, 255, 0.349);
    filter: blur(350px);
    z-index: 1;
}

.blur-15 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: 913px;
    top: 6200px;
    background: rgba(252, 71, 255, 0.2);
    filter: blur(350px);
    z-index: 1;
}

.blur-16 {
    position: absolute;
    width: 467px;
    height: 467px;
    left: -13px;
    top: 6400px;
    background: rgba(86, 71, 255, 0.349);
    filter: blur(350px);
    z-index: 1;
}


/* Team */
.team {
    padding: 120px 40px 260px;
    position: relative;
    z-index: 99;
    text-align: center;
}

.team h1 {
    color: white;
    font-size: 56px;
    margin-bottom: 30px;
    font-family: 'Exo', arial;
}

.team p {
    color: #b5a5bb;
}

.team button {
    background: linear-gradient(162deg, rgba(251, 71, 255, 1) 0%, rgba(86, 71, 255, 1) 73%, rgb(27, 89, 205) 100%);
    color: #ffffff;
    font-weight: 600;
    box-shadow: 0px 3px 19px 0px rgba(143, 81, 202, 0.8);
    -webkit-box-shadow: 0px 3px 19px 0px rgba(143, 81, 202, 0.8);
    -moz-box-shadow: 0px 3px 19px 0px rgba(143, 81, 202, 0.8);
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 19px 50px;
    margin: 40px 0;
    font-size: 16px;
    border: none;
}

.team button:hover {
    transform: scale(1.1);
}

footer {
    z-index: 99;
    position: relative;
    background-color: #15135a;
    padding: 120px 80px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 17px 11px;
    grid-template-areas:
        ". . . .";
}

footer .brand {
    color: white;
    z-index: 99;
    position: relative;
    display: flex;
}

footer .brand i {
    font-size: 38px;
}

footer .brand h3 {
    font-size: 36px;
    margin-left: 10px;
}

footer .brand span {
    background: -webkit-linear-gradient(70deg, rgba(251, 71, 255, 1), rgb(135, 71, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
}

footer h3 {
    font-family: 'Exo', arial;
    color: white;
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 600;
}

footer p {
    color: #d3c3da;
    margin-bottom: 20px;
}

footer i {
    color: #d3c3da;
    margin-left: 10px;
    font-size: 30px;
}

@media only screen and (max-width: 1024px) {
    .nav {
        margin: 40px 80px;
    }

    /* Container */
    .container {
        margin: 120px 80px;
    }

    .container .text-box h1 {
        font-size: 46px;
    }

    .container .text-box button {
        display: block;
        margin-bottom: 20px;
    }

    .container .text-box a {
        margin-left: 10px;
    }

    .container img {
        width: 400px;
        margin-left: 0;
    }

    /* About */
    .about {
        margin: 120px 80px;
    }

    .about img {
        width: 500px;
    }

    .about h1 {
        margin: 20px;
        left: 400px;
        font-size: 40px;
    }

    .about p {
        margin-top: 190px;
    }

    .about a {
        margin-top: 470px;
        left: 500px;
    }


    /* Manfaat */
    .manfaat {
        margin: 120px 80px;
    }

    .manfaat img {
        width: 370px;
        margin-top: 160px;
    }

    .manfaat p {
        font-size: 13px;
    }

    .manfaat h1 {
        font-size: 36px;
        line-height: normal;
    }

    .manfaat div {
        margin: 20px 40px;
    }

    /* Education */
    .education {
        margin: 120px 80px;
        display: block;
    }

    .education .flex {
        display: block;
    }

    .education img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }


    /* Feature */
    .feature {
        margin: 120px 80px;
    }

    .feature .grid-3 {
        display: block;
    }

    /* Blur */
    .blur-13 {
        top: 4700px;
    }

    .blur-14 {
        display: none;
    }

    .blur-15 {
        display: none;
    }

    .blur-16 {
        display: none;
    }

    /* Footer */
    footer {
        padding: 80px 20px;
    }

    footer i {
        font-size: 25px;
    }

    footer .brand h3 {
        font-size: 28px;
    }

    footer .brand span {
        font-size: 24px;
    }

    footer h3 {
        font-size: 26px;
    }

    footer p {
        font-size: 12px;
    }

}


@media only screen and (max-width: 768px) {
    .nav {
        display: flex;
        justify-content: unset;
        margin: 40px 60px;
    }

    .nav .brand i {
        font-size: 16px;
        margin-top: 5px;
    }

    .nav .brand h3 {
        font-size: 20px;
        margin-left: 5px;
    }

    .nav .brand span {
        font-size: 16px;
    }

    .nav .link,
    .nav .hidden {
        display: none;
    }


    .toggle {
        display: inline;
        position: absolute;
        z-index: 9999;
    }

    .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: white;
        text-decoration: none;
    }

    .menuItem:hover {
        text-decoration: underline;
    }

    .hamburger {
        position: absolute;
        z-index: 100;
        left: 620px;
        padding: 4px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
    }

    .closeIcon {
        display: none;
        font-size: 20px;
        color: white;
        z-index: 9999;
    }

    .menuIcon {
        color: white;
        font-size: 20px;
    }

    .menu {
        position: fixed;
        transform: translateY(-100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: rgba(16, 18, 126, 0.802);
        list-style: none;
        padding-top: 4rem;
    }

    .showMenu {
        transform: translateY(0);
    }

    /* Blur */
    .blur-2 {
        width: 157px;
        height: 157px;
        left: 123px;
        top: 210px;
        background: rgba(252, 71, 255, 0.45);
    }

    .blur-3 {
        width: 157px;
        height: 157px;
        left: 33px;
        background: rgba(252, 71, 255, 0.562);
        top: 550px;
    }

    .blur-5 {
        width: 207px;
        height: 207px;
        left: 1px;
        top: 1960px;
        background: rgba(16, 18, 126, 0.602);
    }

    .blur-5a {
        top: 2030px;
    }

    .blur-6 {
        width: 467px;
        height: 467px;
        left: 843px;
        top: 2960px;
        background: rgba(252, 71, 255, 0.3);
        filter: blur(350px);
        z-index: 1;
    }


    /* Container */
    .container {
        margin: 160px 60px;
        z-index: 77;
    }

    .container .text-box h1 {
        margin-top: 0;
        line-height: 43px;
        font-size: 36px;
        position: relative;
    }

    .container .text-box p {
        font-size: 14px;
        margin-bottom: 40px;
        line-height: 25px;
    }

    .container .text-box button {
        padding: 10px 24px;
        display: block;
        font-size: 10px;
        letter-spacing: 1px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .container .text-box a {
        margin: 30px 5px;
        font-size: 10px;
        text-decoration: underline;
    }

    .container .img-box img {
        width: 300px;
        margin-left: 20px;
    }


    /* About */
    .about {
        margin: 140px 0;
        display: block;
        z-index: 77;
    }

    .about img {
        display: none;
    }

    .about h1 {
        left: 0;
        margin: 40px;
        line-height: 43px;
        font-size: 36px;
        position: relative;
    }

    .about p {
        margin: 10px 40px;
        font-size: 14px;
        line-height: 25px;
    }

    .about a {
        display: none;
    }

    /* Manfaat */
    .manfaat {
        margin: 0;
        display: block;
        z-index: 77;
    }

    .manfaat img {
        width: 100%;
        max-height: 350px;
        object-fit: cover;
    }

    .manfaat h1 {
        margin: 40px;
        line-height: 43px;
        font-size: 32px;
        position: relative;
    }

    .manfaat p {
        margin: 10px 40px;
        font-size: 14px;
        line-height: 25px;
    }

    .manfaat div {
        margin: 0;
    }

    /* Education */
    .education {
        display: block;
        margin: 20px;
        z-index: 77;
    }

    .education img {
        display: none;
    }

    .education .flex {
        display: block;
    }

    .education h1 {
        margin-top: 180px;
        line-height: 43px;
        font-size: 32px;
        position: relative;
    }

    .education .flex p {
        margin: 0 20px;
        font-size: 14px;
        line-height: 25px;
        padding: 0;
    }

    /* feature */
    .feature {
        margin: 90px 20px;
        z-index: 77;
    }

    .feature h1 {
        margin-top: 180px;
        line-height: 43px;
        font-size: 32px;
        position: relative;
    }

    .feature .grid-3 {
        display: block;
    }

    .feature .grid-3 .card {
        padding: 60px 20px;
    }

    .feature .grid-3 .card h4 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .feature .grid-3 .card p {
        font-size: 14px;
        line-height: 25px;
    }

    /* Tim */
    .team {
        margin-top: 120px;
        padding: 20px;
        z-index: 77;
    }

    .team h1 {
        margin-top: 60px;
        font-size: 32px;
    }

    .team p {
        font-size: 14px;
    }

    .team button {
        font-size: 12px;
        padding: 15px 30px;
    }

    /* Footer */
    footer {
        padding: 60px 20px;
        display: block;
    }

    footer i {
        font-size: 23px;
    }

    footer .brand h3 {
        font-size: 26px;
    }

    footer .brand span {
        font-size: 22px;
    }

    footer h3 {
        font-size: 24px;
    }

    footer p {
        font-size: 10px;
    }


}


@media only screen and (max-width: 600px) {

    .nav {
        display: flex;
        justify-content: unset;
        margin: 40px;
    }

    .nav .brand i {
        font-size: 16px;
        margin-top: 5px;
    }

    .nav .brand h3 {
        font-size: 20px;
        margin-left: 5px;
    }

    .nav .brand h3 span {
        font-size: 15px;
    }

    .nav .link,
    .nav .hidden {
        display: none;
    }


    .toggle {
        display: inline;
        position: absolute;
        z-index: 9999;
    }

    .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: white;
        text-decoration: none;
    }

    .menuItem:hover {
        text-decoration: underline;
    }

    .hamburger {
        position: absolute;
        z-index: 100;
        left: 260px;
        padding: 4px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
    }

    .fas {
        display: unset;
    }

    .closeIcon {
        display: none;
        font-size: 20px;
        color: white;
        z-index: 9999;
    }

    .menuIcon {
        color: white;
        font-size: 20px;
    }

    .menu {
        position: fixed;
        transform: translateY(-100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: rgba(16, 18, 126, 0.802);
        list-style: none;
        padding-top: 4rem;
    }

    .showMenu {
        transform: translateY(0);
    }


    /* Blur */
    .blur-2 {
        width: 157px;
        height: 157px;
        left: 123px;
        top: 210px;
        background: rgba(252, 71, 255, 0.25);
    }

    .blur-3 {
        width: 157px;
        height: 157px;
        left: 33px;
        background: rgba(252, 71, 255, 0.262);
        top: 550px;
    }

    .blur-4 {
        background: rgba(252, 71, 255, 0.343);
    }

    .blur-5 {
        width: 207px;
        height: 207px;
        left: 1px;
        top: 1960px;
        background: rgba(16, 18, 126, 0.602);
    }

    .blur-5a {
        top: 2030px;
    }

    .blur-6 {
        width: 467px;
        height: 467px;
        left: 843px;
        top: 2960px;
        background: rgba(252, 71, 255, 0.3);
        filter: blur(350px);
        z-index: 1;
    }


    /* Container */
    .container {
        margin: 80px 40px;
        display: block;
        z-index: 77;
    }

    .container .text-box h1 {
        line-height: 43px;
        font-size: 36px;
        position: relative;
    }

    .container .text-box p {
        font-size: 12px;
        margin-bottom: 50px;
        line-height: 25px;
    }

    .container .text-box button {
        padding: 12px 30px;
        display: block;
        margin-bottom: 10px;
    }

    .container .text-box a {
        margin: 30px 5px;
        font-size: 10px;
        text-decoration: underline;
    }

    .container .text-box i {
        display: none;
    }

    .container .img-box {
        display: none;
    }


    /* About */
    .about {
        margin: 140px 0;
        display: block;
        z-index: 77;
    }

    .about img {
        display: none;
    }

    .about h1 {
        left: 0;
        margin: 40px;
        line-height: 43px;
        font-size: 36px;
        position: relative;
    }

    .about p {
        margin: 10px 40px;
        font-size: 12px;
        line-height: 25px;
    }

    /* Manfaat */
    .manfaat {
        margin: 0;
        display: block;
        z-index: 77;
    }

    .manfaat img {
        width: 100%;
    }

    .manfaat h1 {
        margin: 40px;
        line-height: 43px;
        font-size: 32px;
        position: relative;
    }

    .manfaat p {
        margin: 10px 40px;
        font-size: 12px;
        line-height: 25px;
    }

    .manfaat div {
        margin: 0;
    }

    /* Education */
    .education {
        display: block;
        margin: 20px;
        z-index: 77;
    }

    .education img {
        display: none;
    }

    .education .flex {
        display: block;
    }

    .education h1 {
        margin-top: 180px;
        line-height: 43px;
        font-size: 32px;
        position: relative;
    }

    .education .flex p {
        margin: 0 20px;
        font-size: 12px;
        line-height: 25px;
        padding: 0;
    }

    /* feature */
    .feature {
        margin: 90px 20px;
        z-index: 77;
    }

    .feature h1 {
        margin-top: 180px;
        line-height: 43px;
        font-size: 32px;
        position: relative;
    }

    .feature .grid-3 {
        display: block;
    }

    .feature .grid-3 .card {
        padding: 60px 20px;
    }

    .feature .grid-3 .card h4 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .feature .grid-3 .card p {
        font-size: 12px;
        line-height: 25px;
    }

    /* Tim */
    .team {
        margin-top: 120px;
        padding: 20px;
        z-index: 77;
    }

    .team h1 {
        margin-top: 60px;
        font-size: 32px;
    }

    .team p {
        font-size: 12px;
    }

    .team button {
        font-size: 12px;
        padding: 15px 30px;
    }

    /* Footer */
    footer {
        padding: 60px 20px;
        display: block;
    }

    footer div {
        margin-bottom: 35px;
    }

    footer i {
        font-size: 23px;
    }

    footer .brand h3 {
        font-size: 20px;
    }

    footer .brand span {
        font-size: 18px;
    }

    footer h3 {
        font-size: 18px;
    }

    footer p {
        font-size: 12px;
    }
}